body {
	background-color: #112b62;
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
div, img {
	box-sizing: border-box;
}
h1, h2 {
	padding: 0;
	margin: 0;
	font-family: 'Cormorant Garamond', serif;
}
a {
	text-decoration: none;
}
.head {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #00000075;
	padding: 16pt 32pt;
	display: inline-block;
	width: 100%;
	z-index: 10000;
}
.head h1 {
	font-size: 24pt;
	font-weight: 400;
	color: #fff;
}
.head a.social {
	display: inline-flex;
	color: #fff;
	background-color: #00000060;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 2.4rem;
	align-items: center;
	justify-content: center;
	margin-left: 0.25rem;
}
.head a.social:hover {
	background-color: #00000090;

}
.head a.social i {
	font-size: 1.3rem;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}
.row {
	padding: 40px 40px 80px;
}
.row div.title {
	max-width: 1000px;
	margin: auto;
	text-align: center;
	padding-bottom: 20pt;
	margin-bottom: 40pt;
	border-bottom: 1px dashed #ddd;
}
.row div.title img.icon {
	height: 100pt;
	filter: drop-shadow(0px 4px 4px rgb(0 0 0 / 0.4));
	margin-bottom: 8pt;
}
.row div.title span {
	color: #333;
	font-weight: 700;
	background-color: #fff;
	font-size: 10pt;
	line-height: 10pt;
	padding: 4pt 8pt;
	border-radius: 14pt;
}
.row h2 {
	font-weight: 300;
	font-size: 60pt;
	color: #333;
	text-align: right;
}
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
	grid-template-rows: auto;
	grid-gap: 30px;
	max-width: 1200px;
	margin: auto;
}
.grid div.colspan2 {
	grid-column-start: auto;
	grid-column-end: span 2;
}
.grid div.colspan3 {
	grid-column-start: auto;
	grid-column-end: span 3;
}
.grid div.colspan4 {
	grid-column-start: auto;
	grid-column-end: span 4;
}
.grid div.colspan6 {
	grid-column-start: auto;
	grid-column-end: span 6;
}
.grid div.rowspan2 {
	grid-row-start: auto;
	grid-row-end: span 2;
}

#images div.image,
#images div.block {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}
#images div.block {
	font-size: 16pt;
	line-height: 22pt;
	justify-content: center;
	background-color: #ffffff30;
	padding: 0pt 30pt;
}
#images div.image img {
	cursor: pointer;
}
#images div.image img.show {
	width: 100%;
	height: 100%;
	opacity: 1;
}
#images div.image div.footer {
	position: absolute;
	left: 0px;
	width: 100%;
	bottom: -8px;
	text-align: center
}
#images div.image i.favorite {
	position: absolute;
	right: 8px;
	top: 8px;
	background-color: #ffffff50;
	padding: 5px;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
}
#images div.image i.favorite.fa-solid {
	background-color: #ffffff;
	color: #183c8f;
}
#images div.image i.favorite.regular {
	color: #fff;
}

#images div.image div.footer div.caption {
	display: inline-block;
	padding: 5px 8px;
	background-color: #fff;
	color: #222;
	font-size: 8pt;
	font-weight: 400;
	border-radius: 16pt;
}
.center-cropped {
	box-shadow: 0 4px 10px 0px #00000060;
	object-fit: cover;
	object-position: center;
	height: 95%;
	width: 95%;
	margin: auto;
	opacity: 0;
	transition: all 0.5s ease;
}

.mesh {
	padding-top: 150px;
    background-color: rgb(2, 132, 199);
    background-image: radial-gradient(at 90% 83%, rgb(228, 228, 231) 0, transparent 83%), radial-gradient(at 12% 11%, rgb(30, 64, 175) 0, transparent 48%), radial-gradient(at 35% 91%, rgb(253, 186, 116) 0, transparent 47%);
}

#footer {
	margin: auto;
	max-width: 1200px;
	font-weight: 100;
	color: #fff;
	padding: 100px 40px 110px;
}
#footer a {
	color: #fff;
}
#footer a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 1260px) {
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
		grid-gap: 25px;
		max-width: 1000px;
	}
	#images div.block {
		font-size: 14pt;
		line-height: 20pt;
	}
}
@media only screen and (max-width: 1060px) {
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
		grid-gap: 20px;
		max-width: 800px;
	}
	#images div.block {
		padding: 0pt 15pt;
		font-size: 12pt;
		line-height: 18pt;
	}
}
@media only screen and (max-width: 840px) {
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(35px, 1fr));
		grid-gap: 15px;
		max-width: 600px;
	}
	#images div.block {
		padding: 0pt 15pt;
		font-size: 12pt;
		line-height: 18pt;
	}
}
@media only screen and (max-width: 640px) {
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
		grid-gap: 8px;
		max-width: 400px;
	}
	#images div.block {
		padding: 0pt 15pt;
		font-size: 12pt;
		line-height: 18pt;
	}
}
